. {
    display:flex;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:-1000;
    align-items: center;
    justify-content: center;
    transition:all 250ms;
    opacity:0;
}
.window {
    flex:0 0;
    border:1px solid var(--page-border);
    background-color:var(--page-bg);
}
.header {
    flex:30px 0;
    display:flex;
    justify-content: space-between;
}
.header-title {
    font-weight:bold;
    margin:3px;
}
.header-close {
    cursor:pointer;
}
.control {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    padding:var(--spacer);
}
.control > DIV {
    margin-left:var(--spacerhalf);
}
.content {
    display:flex;
    flex-direction: column;
    flex:1 0;
    align-items: center;
    justify-content: center;
    padding:var(--spacer3);
}
.shim {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:var(--tray-bg);
    opacity:50%;
    z-index:-1;
}
.popup-form > div {
    margin-bottom: var(--spacer);
}
